body {
    font-family:"Microsoft Yahei";
    background:url(../image/background.jpg) no-repeat top center;
    background-size:100% 100%;
}
.lottery-section .lottery-title{ text-align:center; color:#fff; font-size:60px;}
.user-name{ color:#fff;}
.lottery-section .btn{ display:inline-block; }
.btn-wrapper{ text-align:center;}
.user-name{font-size:4em; min-height:3em;line-height: 86px; }

.user-name-item {
    background: rgba(0,0,0,0.3);
    padding:3px;
}
.user-name a { color:#FFF; cursor:pointer;}
.winner-list {font-size:20px;}
.set-persion-num{ color:#fff;}
.set-persion-num input{ width:50px; text-align:center;color:#FFF;font-size:30px; border:0; outline:0; background:transparent;}

.static-bottom{ position:absolute; bottom:0;}